body {
	margin: 0 auto;
}
.container {
	margin: 0 auto;
	width: 320px;
	height: 460px;
	overflow: hidden;
	border: 2px solid gray;
}

#seating-pic {
	width: 341px;
	height: 228px;
	background-image: url(../img/SeatSpriteQuarter.png);
	background-size: 3069px 684px;
	position: relative;
	 /* background coordinates */
	background-position: 0 0;
	/* element coordinates */
	left: 0; /* 0px from the left */
	top: 13%;  /* 0px from the top  */
}
.infobox {
	width: 98%;
	margin: 0 auto;
	height: 22%;
	background-color: #b4b4b4;
	border-radius: 12px;
	position: relative;
	top: 16%;
}
.buy {
	margin-left: 10%;
	margin-top: 29%;
	width: 80%;
	height: 5%;
	position: relative;
	background-color: green;
	border-radius: 5px;
	color: #fff;
}